Repository apache/cloudberry, pull requests merged in 2025-07, with the labels that each got.

#1173 Parallel DISTINCT plan of multi-stage.
  src/backend/cdb/cdbgroupingpaths.c
  src/backend/utils/misc/guc_gp.c
  src/include/utils/guc.h
  src/include/utils/unsync_guc_name.h
  src/test/regress/expected/cbdb_parallel.out
  src/test/regress/sql/cbdb_parallel.sql
Labels: type: Performance, planner

#1208 Improve handling of distinct partial paths.
  src/backend/cdb/cdbgroupingpaths.c
Labels: planner

#1207 Add runtime filter pushdown support for DynamicSeqscan operator
  src/backend/commands/explain.c
  src/backend/executor/nodeDynamicSeqscan.c
  src/backend/executor/nodeHash.c
  src/backend/executor/nodeHashjoin.c
  src/backend/executor/nodeSeqscan.c
  src/include/executor/nodeSeqscan.h
  src/include/nodes/execnodes.h
  src/test/regress/expected/gp_runtime_filter.out
  src/test/regress/sql/gp_runtime_filter.sql
Labels: executor

#1178 perf: Improve hash agg performance in large-scale data situations
  contrib/pax_storage/src/test/regress/expected/groupingsets.out
  contrib/pax_storage/src/test/regress/expected/groupingsets_optimizer.out
  contrib/pax_storage/src/test/regress/expected/rowsecurity.out
  contrib/pax_storage/src/test/regress/expected/rowsecurity_optimizer.out
  contrib/pax_storage/src/test/regress/sql/groupingsets.sql
  src/backend/executor/nodeAgg.c
  src/backend/utils/init/globals.c
  src/backend/utils/misc/guc.c
  src/test/regress/expected/cte_prune.out
  src/test/regress/expected/explain_format.out
  src/test/regress/expected/explain_format_optimizer.out
  src/test/regress/expected/groupingsets.out
  src/test/regress/expected/groupingsets_optimizer.out
  src/test/regress/sql/explain_format.sql
  src/test/regress/sql/groupingsets.sql
  src/test/singlenode_regress/expected/groupingsets.out
  src/test/singlenode_regress/expected/workfile/hashagg_spill.out
  src/test/singlenode_regress/sql/workfile/hashagg_spill.sql
Labels: type: Performance, executor

#1215 Forbid writable CTE with SELECT INTO clause.
  src/backend/parser/analyze.c
  src/test/regress/expected/with.out
  src/test/regress/expected/with_optimizer.out
  src/test/regress/sql/with.sql
Labels: planner

#1219 Fix CTAS crash.
  src/backend/cdb/cdbpath.c
  src/test/regress/expected/bfv_planner.out
  src/test/regress/expected/bfv_planner_optimizer.out
  src/test/regress/sql/bfv_planner.sql
Labels: planner
